@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: #130d0a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container{
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.card
{
    width: 13rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:1rem;
    margin-left:1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    /* background-color: rgb(230, 230, 163); */
    position: relative;
    /* box-shadow: -1rem -1rem 2rem #333,1rem 1rem 2rem #333; */
    /* padding: 0.5rem; */
}
.image
{   
    /* filter: grayscale(95%); */
    width: 95%;
    height: 95%;
    transition: 0.5s;
    border: none;
    box-shadow: 0px 0px 10px 5px #fff;
}
.circle{
    background-color: rgba(212, 102, 38, 0.87);
    width: 10%;
    height: 10%;
    position: absolute;
    border-radius: 50%;
    top: -5%;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1000;
    transition: 0.5s;
    cursor: pointer;
}
.line{
    background-color: #000;
    width: 70%;
    height: 0.1rem;
    transform: rotate(45deg);
    transition: 0.5s;
}
.card:hover .circle{
    opacity: 1;
}
.card.change .circle{
    opacity: 1;
}
.card.change .line{
    transform: rotate(720deg);
}
.content{
    position: absolute;
    top: 0;
    z-index: 100;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0%;
    height: 0%;
    border-radius: 25rem 0% 25rem 50rem;
    background-color: rgba(212, 102, 38, 0.87);
    transition: 0.5s;
}
.position{
    font-family: 'Unica One';
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 0%;
    transition: 0.5s;
}
.linkedin{
    margin-right: 1rem;
    font-size: 0%;
    color: #000;
    z-index: 100000;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.github{
    font-size: 0%;
    text-decoration: none;
    color: #000;
    z-index: 100000;
    transition: 0.5s;
}
.card.change .content{
    width: 100%;
    height: 100%;
    border-radius: 0%;
}
.card.change .position{
    font-size: 130%;
    opacity: 1;
    transition: 0.5s;
}
.card.change .linkedin{
    font-size: 150%;
}
.card.change .github{
    font-size: 150%;
}
.name{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30%;
    background-color: rgba(255,255,255,0.4);
    transform: translateY(4rem);
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
}
.name p{ 
    word-wrap: break-word;
    font-family: 'Unica One';
    font-size: 110%;
    font-weight: 500;
    text-transform: uppercase;
}
.card:hover .name{
    opacity: 1;
    transform: translateY(0rem);
}
.card.change .name{
    opacity: 0;
}
.card:hover .image{
    filter: blur(8px);
}
.card.change .image{
    filter: blur(8px);
}
.span{
    width: 10%;
    height: 10%;
    position: absolute;
    transition: 0.5s;
    z-index: 1000;
}
.span-1{
    top: 5%;
    left: 5%;
    border-top: 2px #000 solid;
    border-left: 2px #000 solid;
}
.span-2{
    top: 5%;
    right: 5%;
    border-top: 2px #000 solid;
    border-right: 2px #000 solid;
}
.span-3{
    bottom: 5%;
    left: 5%;
    border-bottom: 2px #000 solid;
    border-left: 2px #000 solid;
}
.span-4{
    bottom: 5%;
    right: 5%;
    border-bottom: 2px #000 solid;
    border-right: 2px #000 solid;
}
.card:hover .span-1{
    top: 25%;
    left: 12.5%;
}
.card:hover .span-2{
    top: 25%;
    right: 12.5%;
}
.card:hover .span-3{
    bottom: 25%;
    left: 12.5%;
}
.card:hover .span-4{
    bottom: 25%;
    right: 12.5%;
}
.card.change .span-1{
    top: 25%;
    left: 12.5%;
}
.card.change .span-2{
    top: 25%;
    right: 12.5%;
}
.card.change .span-3{
    bottom: 25%;
    left: 12.5%;
}
.card.change .span-4{
    bottom: 25%;
    right: 12.5%;
}
